@model FGC_OnBoarding.Models.Buisness.AuthorizedRepresentative
@{
    ViewData["Title"] = "ShowAuthorizeRepresentatives";
    Layout = null;
}

<div class="formblockportion">
    <div class="topheader"></div><!--topheader-->
    <div class="topheader1">
        <div class="topheader2">
            <div class="pagehee1" style="margin-bottom:15px;">authorised representative</div>
            <div class="pagett1">
                Please provide details of each person authorised to instruct or order transactions on behalf of your business/company
                for matters related to this application and who will be the main contact for this business relationship. <br><br>
                If the authorised representative is not <span id="rall" style="display: none;">a director</span><span id="rsole">an owner</span><span id="rchar" style="display: none;">a trustee</span>, then please attach an authority for them to act on the business behalf.
                Upload the required document in "Supporting Documents" page.
            </div>
        </div>
    </div><!--topheader-->
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="section">

        <div id="@ViewBag.authorizeId" class="topheader11">
            <div class="topheader2">
                <div class="textformblock">
                    <div class="formb1">
                        <div class="formhe">First Name </div><!--formhe-->
                        <div class="formtx">
                            @Html.TextBoxFor(x => x.FirstName, null, new { @tabindex = "1" ,@placeholder = "Enter your first name" })
                            @*<input type="text" name="authfname[]" id="chdistext1" placeholder="Enter your first name" tabindex="1" autofous="">*@
                        </div><!--formtx-->
                    </div><!--formb1-->
                    <div class="formb2">
                        <div class="formhe">Last Name </div><!--formhe-->
                        <div class="formtx">
                            @*<input type="text" name="authlname[]" id="chdistext2" placeholder="Enter your last name" tabindex="2">*@
                            @Html.TextBoxFor(x => x.LastName, null, new { @tabindex = "2", @placeholder = "Enter your last name" })
                        </div><!--formtx-->
                    </div><!--formb1-->
                </div><!--textformblock-->
                <div class="textformblock">
                    <div class="formb1">
                        <div class="formhe">Address-1 </div><!--formhe-->
                        <div class="formtx">
                            @Html.TextBoxFor(x => x.Address1, null, new { @tabindex = "3", @placeholder = "Enter your full address" })
                            @*<input type="text" name="authadd1[]" id="chdistext3" placeholder="Enter your full address" tabindex="3">*@
                        </div><!--formtx-->
                    </div><!--formb1-->
                    <div class="formb2">
                        <div class="formhe">Address-2 </div><!--formhe-->
                        <div class="formtx">
                            @*<input type="text" name="authadd2[]" id="chdistext4" placeholder="Enter your full address" tabindex="4">*@
                            @Html.TextBoxFor(x => x.Address2, null, new { @tabindex = "4", @placeholder = "Enter your full address" })
                        </div><!--formtx-->
                    </div><!--formb1-->
                </div><!--textformblock-->
                <div class="textformblock">
                    <div class="formb1">
                        <div class="formhe">City </div><!--formhe-->
                        <div class="formtx">
                            @*<input type="text" name="authcity[]" id="chdistext9" placeholder="Enter your city" tabindex="5">*@
                            @Html.TextBoxFor(x => x.City, null, new { @tabindex = "5", @placeholder = "Enter your full address" })
                        </div><!--formtx-->
                    </div><!--formb1-->
                    <div class="formb2">
                        <div class="formhe">Postcode </div><!--formhe-->
                        <div class="formtx">
                            @*<input type="text" name="authzip[]" min="1" id="chdistext11" placeholder="Enter your postcode" tabindex="6">*@
                            @Html.TextBoxFor(x => x.PostCode, null, new { @tabindex = "6", @placeholder = "Enter your postcode" })
                        </div><!--formtx-->
                    </div><!--formb1-->
                </div><!--textformblock-->
                <div class="textformblock">
                    <div class="formb1">
                        <div class="formhe">County </div><!--formhe-->
                        <div class="formtx">
                            @*<input type="text" name="authcounty[]" id="chdistext10" placeholder="Enter your county" tabindex="7">*@
                            @Html.TextBoxFor(x => x.County, null, new { @tabindex = "7", @placeholder = "Enter your county" })

                        </div><!--formtx-->
                    </div><!--formb1-->
                    <div class="formb2">
                        <div class="formhe">Country</div><!--formhe-->
                        <div class="formtx">
                            <select class="country" id="AuthcountrySelect" style="color:black" name="authcountry[]" tabindex="8">
                                <option value="Select country" disabled="" selected="">Select country</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Aland Islands">Aland Islands</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antarctica">Antarctica</option>
                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermuda">Bermuda</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Bouvet Island">Bouvet Island</option>
                                <option value="Brazil">Brazil</option>
                                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                <option value="Brunei Darussalam">Brunei Darussalam</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Cayman Islands">Cayman Islands</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Christmas Island">Christmas Island</option>
                                <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoros">Comoros</option>
                                <option value="Congo">Congo</option>
                                <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                <option value="Cook Islands">Cook Islands</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cote D'ivoire">Cote D'ivoire</option>
                                <option value="Croatia">Croatia</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                <option value="Faroe Islands">Faroe Islands</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="French Guiana">French Guiana</option>
                                <option value="French Polynesia">French Polynesia</option>
                                <option value="French Southern Territories">French Southern Territories</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Greece">Greece</option>
                                <option value="Greenland">Greenland</option>
                                <option value="Grenada">Grenada</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guernsey">Guernsey</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guinea-bissau">Guinea-bissau</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Haiti">Haiti</option>
                                <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hong Kong">Hong Kong</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Isle of Man">Isle of Man</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jersey">Jersey</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                <option value="Korea, Republic of">Korea, Republic of</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macao">Macao</option>
                                <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                                <option value="Malta">Malta</option>
                                <option value="Marshall Islands">Marshall Islands</option>
                                <option value="Martinique">Martinique</option>
                                <option value="Mauritania">Mauritania</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                <option value="Moldova, Republic of">Moldova, Republic of</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolia">Mongolia</option>
                                <option value="Montenegro">Montenegro</option>
                                <option value="Montserrat">Montserrat</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Myanmar">Myanmar</option>
                                <option value="Namibia">Namibia</option>
                                <option value="Nauru">Nauru</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Netherlands">Netherlands</option>
                                <option value="Netherlands Antilles">Netherlands Antilles</option>
                                <option value="New Caledonia">New Caledonia</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Niue">Niue</option>
                                <option value="Norfolk Island">Norfolk Island</option>
                                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                <option value="Norway">Norway</option>
                                <option value="Oman">Oman</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Palau">Palau</option>
                                <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                <option value="Panama">Panama</option>
                                <option value="Papua New Guinea">Papua New Guinea</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Pitcairn">Pitcairn</option>
                                <option value="Poland">Poland</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Qatar">Qatar</option>
                                <option value="Reunion">Reunion</option>
                                <option value="Romania">Romania</option>
                                <option value="Russian Federation">Russian Federation</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="Saint Helena">Saint Helena</option>
                                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                <option value="Saint Lucia">Saint Lucia</option>
                                <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                <option value="Samoa">Samoa</option>
                                <option value="San Marino">San Marino</option>
                                <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Senegal">Senegal</option>
                                <option value="Serbia">Serbia</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Slovakia">Slovakia</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Solomon Islands">Solomon Islands</option>
                                <option value="Somalia">Somalia</option>
                                <option value="South Africa">South Africa</option>
                                <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                <option value="Spain">Spain</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Sudan">Sudan</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                <option value="Tajikistan">Tajikistan</option>
                                <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Timor-leste">Timor-leste</option>
                                <option value="Togo">Togo</option>
                                <option value="Tokelau">Tokelau</option>
                                <option value="Tonga">Tonga</option>
                                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                <option value="Tunisia">Tunisia</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Turkmenistan">Turkmenistan</option>
                                <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                <option value="Tuvalu">Tuvalu</option>
                                <option value="Uganda">Uganda</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Emirates">United Arab Emirates</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                                <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Uzbekistan">Uzbekistan</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Viet Nam">Viet Nam</option>
                                <option value="Virgin Islands, British">Virgin Islands, British</option>
                                <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                <option value="Wallis and Futuna">Wallis and Futuna</option>
                                <option value="Western Sahara">Western Sahara</option>
                                <option value="Yemen">Yemen</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div><!--formtx-->
                    </div><!--formb1-->
                </div><!--textformblock-->
                <div class="textformblock">
                    <div class="formb1">
                        <div class="formhe">Date of Birth </div><!--formhe-->
                        <div class="formtx">
                            <div class="input-group3 date"  data-date-format="dd-mm-yyyy">
                                @*@Html.EditorFor(x => x.DOB, new { @class = "form-control" })*@
                                <input type ="date" asp-for="DOB" class="form-control " tabindex = "9"/>
                                @*<input type="text" class="form-control" placeholder="Enter your date of birth (dd-mm-yyyy)" name="authedob[]" id="datepicker3" onchange="datepickblock();" tabindex="9">*@
                                @*<div class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>*@
                                <div id="de2" class="errormsg"></div>
                            </div>
                        </div><!--formtx-->
                    </div><!--formb1-->
                    <div class="formb2">
                        <div class="formhe">Phone No</div><!--formhe-->
                        <div class="formtx">
                            @*<input type="text" name="authphone[]" id="chdistext6" placeholder="Enter your contact no" tabindex="10">*@
                            @Html.TextBoxFor(x => x.PhoneNumber, null, new { @tabindex = "10", @placeholder = "Enter your contact no" })
                        </div><!--formtx-->
                    </div><!--formb1-->
                </div><!--textformblock-->
                <div class="textformblock">
                    <div class="formb1">
                        <div class="formhe">Email </div><!--formhe-->
                        <div class="formtx">
                            @*<input type="email" name="authemail[]" id="chdistext7" placeholder="Enter valid email address" tabindex="12">*@
                            @Html.TextBoxFor(x => x.Email, null, new { @tabindex = "11", @placeholder = "Enter valid email address" })
                            <div id="Validation6" class="errormsg"></div>
                        </div><!--formtx-->
                    </div><!--formb1-->
                    <div class="formb2">
                        @if (ViewBag.BuisnessType == 3 || ViewBag.BuisnessType == 4)
                        {
                            <div class="formhe" id="arall1" style="">Position in Company</div><!--formhe-->
                            <div class="formtx">
                                @Html.TextBoxFor(x => x.PositionInComany, null, new { @tabindex = "12", @placeholder = "Enter your designation" })
                                @*<input type="text" name="authcomposition[]" id="chdistext8" placeholder="Enter your designation" tabindex="13">*@
                            </div><!--formtx-->
                        }
                        @if (ViewBag.BuisnessType == 1)
                        {
                            <div class="formhe" id="arsole1" style="">Position in Business</div><!--formhe-->
                            <div class="formtx">
                                @Html.TextBoxFor(x => x.PositionInBuisness, null, new { @tabindex = "13", @placeholder = "Enter your designation" })
                                @*<input type="text" name="authcomposition[]" id="chdistext8" placeholder="Enter your designation" tabindex="13">*@
                            </div><!--formtx-->
                        }
                        @if (ViewBag.BuisnessType == 2)
                        {
                            <div class="formhe" id="archar1" style="">Role in Charity</div><!--formhe-->
                            <div class="formtx">
                                @Html.TextBoxFor(x => x.RoleIncharity, null, new { @tabindex = "14", @placeholder = "Enter your designation" })
                                @*<input type="text" name="authcomposition[]" id="chdistext8" placeholder="Enter your designation" tabindex="13">*@
                            </div><!--formtx-->
                        }
                    </div><!--formb1-->
                </div><!--textformblock-->

            </div>
        </div><!--topheader-->

    </div><!--section-->
    <div id="sections">
        <div class="sectiontoadd" style="display:none;">
            <div class="topheader11">
                <div class="topheader2">
                    <hr>
                    <div class="textformblock">
                        <div class="formb1">
                            <div class="formhe">First Name </div><!--formhe-->
                            <div class="formtx"><input class="AUTHMyFirstName" type="text" name="authfname[]" placeholder="Enter your first name"></div><!--formtx-->
                        </div><!--formb1-->
                        <div class="formb2">
                            <div class="formhe">Last Name </div><!--formhe-->
                            <div class="formtx"><input class="AUTHMyLastName" type="text" name="authlname[]" placeholder="Enter your last name"></div><!--formtx-->
                        </div><!--formb1-->
                    </div><!--textformblock-->
                    <div class="textformblock">
                        <div class="formb1">
                            <div class="formhe">Address1 </div><!--formhe-->
                            <div class="formtx"><input class="AUTHMyAddress1" type="text" name="authadd1[]" placeholder="Enter your full address"></div><!--formtx-->
                        </div><!--formb1-->
                        <div class="formb2">
                            <div class="formhe">Address2 </div><!--formhe-->
                            <div class="formtx"><input class="AUTHMyAddress2" type="text" name="authadd2[]" placeholder="Enter your full address"></div><!--formtx-->
                        </div><!--formb1-->
                    </div><!--textformblock-->
                    <div class="textformblock">
                        <div class="formb1">
                            <div class="formhe">City </div><!--formhe-->
                            <div class="formtx"><input class="AUTHMyCity" type="text" name="authcity[]" placeholder="Enter your city"></div><!--formtx-->
                        </div><!--formb1-->
                        <div class="formb2">
                            <div class="formhe">Postcode </div><!--formhe-->
                            <div class="formtx"><input class="AUTHMyPostCode" type="text" name="authzip[]" min="1" placeholder="Enter your postcode"></div><!--formtx-->
                        </div><!--formb1-->
                    </div><!--textformblock-->
                    <div class="textformblock">
                        <div class="formb1">
                            <div class="formhe">County </div><!--formhe-->
                            <div class="formtx"><input class="AUTHMyCounty" type="text" name="authcounty[]" placeholder="Enter your county"></div><!--formtx-->
                        </div><!--formb1-->
                        <div class="formb2">
                            <div class="formhe">Country</div><!--formhe-->
                            <div class="formtx">
                                <select style="color:black" id="AuthcountrySelect" name="authcountry[]">
                                    <option value="Select country">Select country</option>
                                    <option value="Afghanistan">Afghanistan</option>
                                    <option value="Aland Islands">Aland Islands</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="American Samoa">American Samoa</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Angola">Angola</option>
                                    <option value="Anguilla">Anguilla</option>
                                    <option value="Antarctica">Antarctica</option>
                                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Aruba">Aruba</option>
                                    <option value="Australia">Australia</option>
                                    <option value="Austria">Austria</option>
                                    <option value="Azerbaijan">Azerbaijan</option>
                                    <option value="Bahamas">Bahamas</option>
                                    <option value="Bahrain">Bahrain</option>
                                    <option value="Bangladesh">Bangladesh</option>
                                    <option value="Barbados">Barbados</option>
                                    <option value="Belarus">Belarus</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Belize">Belize</option>
                                    <option value="Benin">Benin</option>
                                    <option value="Bermuda">Bermuda</option>
                                    <option value="Bhutan">Bhutan</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                    <option value="Botswana">Botswana</option>
                                    <option value="Bouvet Island">Bouvet Island</option>
                                    <option value="Brazil">Brazil</option>
                                    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                                    <option value="Bulgaria">Bulgaria</option>
                                    <option value="Burkina Faso">Burkina Faso</option>
                                    <option value="Burundi">Burundi</option>
                                    <option value="Cambodia">Cambodia</option>
                                    <option value="Cameroon">Cameroon</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Cape Verde">Cape Verde</option>
                                    <option value="Cayman Islands">Cayman Islands</option>
                                    <option value="Central African Republic">Central African Republic</option>
                                    <option value="Chad">Chad</option>
                                    <option value="Chile">Chile</option>
                                    <option value="China">China</option>
                                    <option value="Christmas Island">Christmas Island</option>
                                    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Comoros">Comoros</option>
                                    <option value="Congo">Congo</option>
                                    <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                    <option value="Cook Islands">Cook Islands</option>
                                    <option value="Costa Rica">Costa Rica</option>
                                    <option value="Cote D'ivoire">Cote D'ivoire</option>
                                    <option value="Croatia">Croatia</option>
                                    <option value="Cuba">Cuba</option>
                                    <option value="Cyprus">Cyprus</option>
                                    <option value="Czech Republic">Czech Republic</option>
                                    <option value="Denmark">Denmark</option>
                                    <option value="Djibouti">Djibouti</option>
                                    <option value="Dominica">Dominica</option>
                                    <option value="Dominican Republic">Dominican Republic</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="Egypt">Egypt</option>
                                    <option value="El Salvador">El Salvador</option>
                                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                                    <option value="Eritrea">Eritrea</option>
                                    <option value="Estonia">Estonia</option>
                                    <option value="Ethiopia">Ethiopia</option>
                                    <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                    <option value="Faroe Islands">Faroe Islands</option>
                                    <option value="Fiji">Fiji</option>
                                    <option value="Finland">Finland</option>
                                    <option value="France">France</option>
                                    <option value="French Guiana">French Guiana</option>
                                    <option value="French Polynesia">French Polynesia</option>
                                    <option value="French Southern Territories">French Southern Territories</option>
                                    <option value="Gabon">Gabon</option>
                                    <option value="Gambia">Gambia</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Germany">Germany</option>
                                    <option value="Ghana">Ghana</option>
                                    <option value="Gibraltar">Gibraltar</option>
                                    <option value="Greece">Greece</option>
                                    <option value="Greenland">Greenland</option>
                                    <option value="Grenada">Grenada</option>
                                    <option value="Guadeloupe">Guadeloupe</option>
                                    <option value="Guam">Guam</option>
                                    <option value="Guatemala">Guatemala</option>
                                    <option value="Guernsey">Guernsey</option>
                                    <option value="Guinea">Guinea</option>
                                    <option value="Guinea-bissau">Guinea-bissau</option>
                                    <option value="Guyana">Guyana</option>
                                    <option value="Haiti">Haiti</option>
                                    <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                    <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                    <option value="Honduras">Honduras</option>
                                    <option value="Hong Kong">Hong Kong</option>
                                    <option value="Hungary">Hungary</option>
                                    <option value="Iceland">Iceland</option>
                                    <option value="India">India</option>
                                    <option value="Indonesia">Indonesia</option>
                                    <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                    <option value="Iraq">Iraq</option>
                                    <option value="Ireland">Ireland</option>
                                    <option value="Isle of Man">Isle of Man</option>
                                    <option value="Israel">Israel</option>
                                    <option value="Italy">Italy</option>
                                    <option value="Jamaica">Jamaica</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Jersey">Jersey</option>
                                    <option value="Jordan">Jordan</option>
                                    <option value="Kazakhstan">Kazakhstan</option>
                                    <option value="Kenya">Kenya</option>
                                    <option value="Kiribati">Kiribati</option>
                                    <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                    <option value="Korea, Republic of">Korea, Republic of</option>
                                    <option value="Kuwait">Kuwait</option>
                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                    <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                    <option value="Latvia">Latvia</option>
                                    <option value="Lebanon">Lebanon</option>
                                    <option value="Lesotho">Lesotho</option>
                                    <option value="Liberia">Liberia</option>
                                    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                    <option value="Liechtenstein">Liechtenstein</option>
                                    <option value="Lithuania">Lithuania</option>
                                    <option value="Luxembourg">Luxembourg</option>
                                    <option value="Macao">Macao</option>
                                    <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                    <option value="Madagascar">Madagascar</option>
                                    <option value="Malawi">Malawi</option>
                                    <option value="Malaysia">Malaysia</option>
                                    <option value="Maldives">Maldives</option>
                                    <option value="Mali">Mali</option>
                                    <option value="Malta">Malta</option>
                                    <option value="Marshall Islands">Marshall Islands</option>
                                    <option value="Martinique">Martinique</option>
                                    <option value="Mauritania">Mauritania</option>
                                    <option value="Mauritius">Mauritius</option>
                                    <option value="Mayotte">Mayotte</option>
                                    <option value="Mexico">Mexico</option>
                                    <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                    <option value="Moldova, Republic of">Moldova, Republic of</option>
                                    <option value="Monaco">Monaco</option>
                                    <option value="Mongolia">Mongolia</option>
                                    <option value="Montenegro">Montenegro</option>
                                    <option value="Montserrat">Montserrat</option>
                                    <option value="Morocco">Morocco</option>
                                    <option value="Mozambique">Mozambique</option>
                                    <option value="Myanmar">Myanmar</option>
                                    <option value="Namibia">Namibia</option>
                                    <option value="Nauru">Nauru</option>
                                    <option value="Nepal">Nepal</option>
                                    <option value="Netherlands">Netherlands</option>
                                    <option value="Netherlands Antilles">Netherlands Antilles</option>
                                    <option value="New Caledonia">New Caledonia</option>
                                    <option value="New Zealand">New Zealand</option>
                                    <option value="Nicaragua">Nicaragua</option>
                                    <option value="Niger">Niger</option>
                                    <option value="Nigeria">Nigeria</option>
                                    <option value="Niue">Niue</option>
                                    <option value="Norfolk Island">Norfolk Island</option>
                                    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                    <option value="Norway">Norway</option>
                                    <option value="Oman">Oman</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Palau">Palau</option>
                                    <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                    <option value="Panama">Panama</option>
                                    <option value="Papua New Guinea">Papua New Guinea</option>
                                    <option value="Paraguay">Paraguay</option>
                                    <option value="Peru">Peru</option>
                                    <option value="Philippines">Philippines</option>
                                    <option value="Pitcairn">Pitcairn</option>
                                    <option value="Poland">Poland</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Puerto Rico">Puerto Rico</option>
                                    <option value="Qatar">Qatar</option>
                                    <option value="Reunion">Reunion</option>
                                    <option value="Romania">Romania</option>
                                    <option value="Russian Federation">Russian Federation</option>
                                    <option value="Rwanda">Rwanda</option>
                                    <option value="Saint Helena">Saint Helena</option>
                                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                    <option value="Saint Lucia">Saint Lucia</option>
                                    <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                    <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                    <option value="Samoa">Samoa</option>
                                    <option value="San Marino">San Marino</option>
                                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                    <option value="Senegal">Senegal</option>
                                    <option value="Serbia">Serbia</option>
                                    <option value="Seychelles">Seychelles</option>
                                    <option value="Sierra Leone">Sierra Leone</option>
                                    <option value="Singapore">Singapore</option>
                                    <option value="Slovakia">Slovakia</option>
                                    <option value="Slovenia">Slovenia</option>
                                    <option value="Solomon Islands">Solomon Islands</option>
                                    <option value="Somalia">Somalia</option>
                                    <option value="South Africa">South Africa</option>
                                    <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                    <option value="Spain">Spain</option>
                                    <option value="Sri Lanka">Sri Lanka</option>
                                    <option value="Sudan">Sudan</option>
                                    <option value="Suriname">Suriname</option>
                                    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                    <option value="Swaziland">Swaziland</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="Switzerland">Switzerland</option>
                                    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                    <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                    <option value="Tajikistan">Tajikistan</option>
                                    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                    <option value="Thailand">Thailand</option>
                                    <option value="Timor-leste">Timor-leste</option>
                                    <option value="Togo">Togo</option>
                                    <option value="Tokelau">Tokelau</option>
                                    <option value="Tonga">Tonga</option>
                                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                    <option value="Tunisia">Tunisia</option>
                                    <option value="Turkey">Turkey</option>
                                    <option value="Turkmenistan">Turkmenistan</option>
                                    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                    <option value="Tuvalu">Tuvalu</option>
                                    <option value="Uganda">Uganda</option>
                                    <option value="Ukraine">Ukraine</option>
                                    <option value="United Arab Emirates">United Arab Emirates</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                    <option value="United States">United States</option>
                                    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                    <option value="Uruguay">Uruguay</option>
                                    <option value="Uzbekistan">Uzbekistan</option>
                                    <option value="Vanuatu">Vanuatu</option>
                                    <option value="Venezuela">Venezuela</option>
                                    <option value="Viet Nam">Viet Nam</option>
                                    <option value="Virgin Islands, British">Virgin Islands, British</option>
                                    <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                    <option value="Wallis and Futuna">Wallis and Futuna</option>
                                    <option value="Western Sahara">Western Sahara</option>
                                    <option value="Yemen">Yemen</option>
                                    <option value="Zambia">Zambia</option>
                                    <option value="Zimbabwe">Zimbabwe</option>
                                </select>
                            </div><!--formtx-->
                        </div><!--formb1-->
                    </div><!--textformblock-->
                    <div class="textformblock">
                        <div class="formb1">
                            <div class="formhe">Date of Birth </div><!--formhe-->
                            <div class="formtx">
                                @*@Html.EditorFor(x => x.DOB, new { @class = "form-control Mydate", @placeholder = "Enter your date of birth (dd-mm-yyyy)" })*@
                                @*@Html.TextBox("dt1", "{0:yyyy-MM-dd}", new { @type = "date"})*@
                              
                                <input type="date" class="AUTHMydate" id="dt1" />
                                @*@Html.EditorFor(x => x.MYdob, new { @class = "form-control myydob", @placeholder = "Enter your date of birth (dd-mm-yyyy)" })*@
                                @*<input type="text" class="form-control MyDate" placeholder="Enter date of birth (dd-mm-yyyy)" name="authedob[]" onchange="datepickblock();">*@
                                @*<div class="input-group-addon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>*@
                                <div id="de2" class="errormsg"></div>
                            </div>
                        </div><!--formb1-->
                        <div class="formb2">
                            <div class="formhe">Phone No</div><!--formhe-->
                            <div class="formtx"><input class="AUTHMyPhone" type="text" name="authphone[]" placeholder="Enter your contact no"></div><!--formtx-->
                        </div><!--formb1-->
                    </div><!--textformblock-->
                    <div class="textformblock">
                        <div class="formb1">
                            <div class="formhe">Email </div><!--formhe-->
                            <div class="formtx">
                                <input class="AUTHMyEmail" type="email" name="authemail[]" placeholder="Enter your valid email address">
                                <div id="Validation7" class="errormsg"></div>
                            </div><!--formtx-->
                        </div><!--formb1-->
                        <div class="formb2">
                            @if (ViewBag.BuisnessType == 3 || ViewBag.BuisnessType == 4)
                            {
                                <div class="formhe" id="">Position in Company</div><!--formhe-->
                                <div class="formtx">
                                    <input class="AUTHMyPic" type="text" name="authcomposition[]" placeholder="Enter your designation">
                                    @*@Html.TextBoxFor(x => x.PositionInComany, null, new { @placeholder = "Enter your designation" })*@
                                    @*<input type="text" name="authcomposition[]" id="chdistext8" placeholder="Enter your designation" tabindex="13">*@
                                </div><!--formtx-->
                            }
                            @if (ViewBag.BuisnessType == 1)
                            {
                                <div class="formhe" id="" style="">Position in Business</div><!--formhe-->
                                <div class="formtx">
                                    <input class="AUTHMyPib" type="text" name="authcomposition[]" placeholder="Enter your designation">
                                    @*@Html.TextBoxFor(x => x.PositionInBuisness, null, new { @placeholder = "Enter your designation" })*@
                                    @*<input type="text" name="authcomposition[]" id="chdistext8" placeholder="Enter your designation" tabindex="13">*@
                                </div><!--formtx-->
                            }
                            @if (ViewBag.BuisnessType == 2)
                            {
                                <div class="formhe" id="">Role in Charity</div><!--formhe-->
                                <div class="formtx">
                                    <input class="AUTHMyPich" type="text" name="authcomposition[]" placeholder="Enter your designation">
                                    @*@Html.TextBoxFor(x => x.RoleIncharity, null, new { @placeholder = "Enter your designation" })*@
                                    @*<input type="text" name="authcomposition[]" id="chdistext8" placeholder="Enter your designation" tabindex="13">*@
                                </div><!--formtx-->
                            }
                        </div><!--formb2-->
                    </div><!--textformblock-->
                </div>
            </div><!--topheader-->
            <p style="width:100%;"><a href="#" class="remove" id="addnewauth1">Remove</a></p>
        </div>
    </div>
    <p id="addnewbut"><a href="#" class="addsection" id="addnewauth" tabindex="15" style="">ADD NEW</a></p>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="topheader11">
        <div class="topheader2" style="text-align:center;">
            <input type="button" name="next1" class="action-button1" value="Previous" onclick="ShowBuisnessInfo()" >
            <input type="button" name="next1" class="action-button1" value="Next" onclick="ShowBuisnessInformation()" >
        </div>
    </div><!--topheader-->
</div>
<script>
    var ValidationField;
    var EmailFlag = false;
    var SecondaryEmailFlag = false;
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();

        var CurrencyIds = "";
        var BuisnessType = 0;
        var BuisnessSector = 0;
        var RepresentativeList = [];

    $(document).ready(function () {

        $('.menu1').find('#header1').prop('class', 'menuheader');
        $('.menu1').find('.mneuline').find('img').prop('src', '../Images/dotedlinemenu.png')

        $('.menu2').find('#header2').prop('class', 'menuheader1');
        $('.menu2').find('.mneuline').find('img').prop('src', '../Images/dotstraightline.png')

        $('.menu3').find('#header3').prop('class', 'menuheader1');
        $('.menu3').find('.mneuline').find('img').prop('src', '../Images/dotstraightline.png')

        $('.menu4').find('#header4').prop('class', 'menuheader1');
        $('.menu4').find('.mneuline').find('img').prop('src', '../Images/dotstraightline.png')

        $('.menu5').find('#header5').prop('class', 'menuheader1');
        $('.menu5').find('.mneuline').find('img').prop('src', '../Images/dotstraightline.png')

              if ("@Model.Country" != "" && "@Model.Country" != null) {
                  $('.country').val("@Model.Country");
           }
            $.ajax({
                url: '/Home/GetAllRepresentative',
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: 'json',
                async: false,
                data: { BuisnessProfileId: "@ViewBag.BuisnessProfileId" },
                success: function (data) {
                    //$('#myfield').html(data);
                    debugger
                    RepresentativeList = data;
                    for (var i = 0; i < data.length; i++) {
                        $('.section').append("<div id='" + data[i].representativeId + "' class='myform'>" + $('.sectiontoadd').html() + "</div>")

                    }
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })
            debugger
            var y = 0;
            $('.myform').each(function () {
                debugger


                $(this).find('.AUTHMyFirstName').val(RepresentativeList[y].firstName)
                $(this).find('.AUTHMyLastName').val(RepresentativeList[y].lastName)
                $(this).find('.AUTHMyAddress1').val(RepresentativeList[y].address1)
                $(this).find('.AUTHMyAddress2').val(RepresentativeList[y].address2)
                $(this).find('.AUTHMyCity').val(RepresentativeList[y].city)
                $(this).find('.AUTHMyPostCode').val(RepresentativeList[y].postCode)
                $(this).find('.AUTHMyCounty').val(RepresentativeList[y].county)
                $(this).find('.AUTHMyPhone').val(RepresentativeList[y].phoneNumber)
                $(this).find('.AUTHMyEmail').val(RepresentativeList[y].email)
                $(this).find('.AUTHMyPic').val(RepresentativeList[y].positionInComany)
                $(this).find('.AUTHMyPib').val(RepresentativeList[y].positionInBuisness)
                $(this).find('.AUTHMyPich').val(RepresentativeList[y].roleIncharity)
                $(this).find('#AuthcountrySelect').val(RepresentativeList[y].country)
                $(this).find('.AUTHMydate').val(RepresentativeList[y].dateOfBirth)
                  /*  $(this).find('#MYdob').val(RepresentativeList[y].dob)*/


                y++;
            })

        })

         function CountryChange(val) {

        }
         function ShowBuisnessInfo() {
        $.ajax({

            url: '/Home/SetCurrentForm',
            contentType: 'application/json ; charset:ytf-8',
            type: 'Get',
            dataType: 'json',
            data: { Form: 1, BuisnessProfileId:"@ViewBag.BuisnessProfileId"},
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
                $.ajax({
                    url: '/Home/ShowBuisnessProfile',
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    async:true,
                    data: { BuisnessProfileId: "@ViewBag.BuisnessProfileId", CurrencyIds: "", BuisnessType: "@ViewBag.BuisnessType", BuisnessSector: 0},

                    success: function (data) {
                    $('#myfield').hide()
                    $('#myfield').html(data)
                    $("#myfield").slideDown("fast", function () {
                });
            },
            error: function (msg, xhr) {
                debugger
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
        }
    function ShowBuisnessInformation() {
        debugger
        if (EmailFlag == true) {
            $('#Validation6').html("Invalid Email Address")
            flag = true;
          /*  window.scrollTo(0, 0);*/

        }
        else if (SecondaryEmailFlag == true)
        {
            $(ValidationField).closest('.topheader11').closest('.myform').find('#Validation7').html(data.validation)
            flag = true;
          /*  window.scrollTo(0, 0);*/
        }
        else {
            $.ajax({

                url: '/Home/SetCurrentForm',
                contentType: 'application/json ; charset:ytf-8',
                type: 'Get',
                dataType: 'json',
                data: { Form: 3, BuisnessProfileId:"@ViewBag.BuisnessProfileId" },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })
            $.ajax({
                url: '/Home/ShowBuisnessInformation',
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                async: true,
                data: { BuisnessProfileId: @ViewBag.BuisnessProfileId },
                success: function (data) {
                    $('#myfield').hide()
                    $('#myfield').html(data)
                    $("#myfield").slideDown("fast", function () {
                    });
                },
                error: function (msg, xhr) {
                    debugger
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })
        }


        }

        var i = 0;
        $('.addsection').click(function () {
            debugger
            i++;
            var ReperesentativeID = 0;
                 $.ajax({
                     url: '/Home/CreateNewRepresentative',
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET',
                     dataType: 'json',
                     async:false,
                     data: { BuisnessProfileId: "@ViewBag.BuisnessProfileId"},
                     success: function (data) {
                        debugger
                         ReperesentativeID = data;
                       /*  $('.section').find('.topheader11').attr('id', ReperesentativeID)*/
                         $('.section').append("<div id='" + ReperesentativeID+"' class='myform'>" + $('.sectiontoadd').html() + "</div>")
                         $("html").animate({
                             scrollTop: $(
                                 'html').get(0).scrollHeight
                         });
            },
            error: function (msg, xhr) {
                debugger
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })

        })
        $(document).on('click', '.remove', function () {
            debugger
            var ThisForm = $(this);
            var RepresentativeId = $(this).closest('.myform').attr('id');

                      $.ajax({
                     url: '/Home/RemoveRepresentative',
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET',
                     dataType: 'json',
                     async:false,
                     data: { RepresentativeId: RepresentativeId},
                     success: function (data) {
                        debugger
                         $(ThisForm).closest('.myform').empty();
                              $("html").animate({
                                  scrollTop: $(
                                      'html').get(0).scrollHeight
                              });

            },
            error: function (msg, xhr) {
                debugger
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })

        })


    $(document).on('change', "#AuthcountrySelect", function () {
               debugger

               var FormId = $(this).closest('.topheader11').attr('id');
               if (FormId == undefined) {
                   FormId = $(this).closest('.myform').attr('id');
               }
               var objFields = {
                   "Formid": FormId,
                   "Country": $(this).val(),
                   "DOB": $(this).closest('.myform').find('.AUTHMydate').val(),
                   "FieldName": "country"
               };

        debugger
               $.ajax({
                   url: '/Home/SaveRepresentativeFields',
                   /*  contentType: 'application/json ; charset:ytf-8',*/
                   type: 'POST',
                   dataType: 'json',
                   data: { objFields: objFields },
                   async: true,
                   success: function (data) {
                       //$('#myfield').html(data);
                   },
                   error: function (msg, xhr) {
                       alert("error")
                       console.log(msg);
                       console.log(xhr);
                   }
               })


    })


    $('#FirstName').on('focusout', function () {

        debugger
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "FirstName": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "firstname"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
                //if (data.flag) {
                //    // var Id = "#" + data.validation
                //    $('#Validation7').html(data.validation)
                //}
                //else {
                //    $('#Validation7').html("");
                //}

            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })

    })

    $('#LastName').on('focusout', function () {
        debugger
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "LastName": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "lastname"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })

    $('#Address1').on('focusout', function () {
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }

        var objFields = {
            "Formid": FormId,
            "Address1": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "address1"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })


    $('#Address2').on('focusout', function () {
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }

        var objFields = {
            "Formid": FormId,
            "Address2": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "address2"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })


    $('#City').on('focusout', function () {

        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }


        var objFields = {
            "Formid": FormId,
            "City": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "city"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })


    $('#PostCode').on('focusout', function () {
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "PostCode": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "postcode"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })


    $('#County').on('focusout', function () {
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "County": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "county"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })


    $('#DOB').on('focusout', function () {
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }

        var objFields = {
            "Formid": FormId,
            "DOB": $(this).val(),
            "FieldName": "dob"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })


    $('#PhoneNumber').on('focusout', function () {

        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "PhoneNumber": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "phonenumber"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })

    $('#Email').on('focusout', function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
                "Formid": FormId,
                "Email": $(this).val(),
                "DOB": $('#DOB').val(),
                "FieldName": "email"
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                    debugger
                    if (data.flag) {
                        // var Id = "#" + data.validation
                        $('#Validation6').html(data.validation)
                        EmailFlag = true;
                        //setTimeout(
                        //    function () {
                        //        $('#BuisnessEmail').val("");
                        //    }, 3000);

                    }
                    else {
                        $('#Validation6').html("");
                        EmailFlag = false;
                    }
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })
        if ($('#Email').val() == "") {
            $('#Validation6').html("")
            EmailFlag = false;
        }

    })

    $('#PositionInBuisness').on('focusout', function () {
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "PositionInBuisness": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "positioninbuisness"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })

    })


    $('#RoleIncharity').on('focusout', function () {
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "RoleIncharity": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "roleincharity"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })


    $('#PositionInComany').on('focusout', function () {
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "PositionInComany": $(this).val(),
            "DOB": $('#DOB').val(),
            "FieldName": "positionincompany"
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })
    })

    $(document).on('focusout', ".AUTHMyFirstName", function () {
            debugger
            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
            "Formid": FormId,
                "FirstName": $(this).val(),
                "FieldName": "firstname",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()

        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
          /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
                //if (data.flag) {
                //    // var Id = "#" + data.validation
                //    $('#Validation7').html(data.validation)
                //}
                //else {
                //    $('#Validation7').html("");
                //}

            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })


        })
    $(document).on('focusout', ".AUTHMyLastName", function () {

        debugger
        var FormId = $(this).closest('.topheader11').attr('id');
        if (FormId == undefined) {
            FormId = $(this).closest('.myform').attr('id');
        }
        var objFields = {
            "Formid": FormId,
            "LastName": $(this).val(),
            "FieldName": "lastname",
            "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
        };
        debugger
        $.ajax({
            url: '/Home/SaveRepresentativeFields',
            /*  contentType: 'application/json ; charset:ytf-8',*/
            type: 'POST',
            dataType: 'json',
            data: { objFields: objFields },
            async: false,
            success: function (data) {
                //$('#myfield').html(data);
            },
            error: function (msg, xhr) {
                alert("error")
                console.log(msg);
                console.log(xhr);
            }
        })

        })
    $(document).on('focusout', ".AUTHMyAddress1", function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }

            var objFields = {
                "Formid": FormId,
                "Address1": $(this).val(),
                "FieldName": "address1",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMyAddress2", function () {
            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }

            var objFields = {
                "Formid": FormId,
                "Address2": $(this).val(),
                "FieldName": "address2",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMyCity", function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }


            var objFields = {
                "Formid": FormId,
                "City": $(this).val(),
                "FieldName": "city",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMyPostCode", function () {


            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
                "Formid": FormId,
                "PostCode": $(this).val(),
                "FieldName": "postcode",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMyPostCode", function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
                "Formid": FormId,
                "County": $(this).val(),
                "FieldName": "county",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMydate", function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }

            var objFields = {
                "Formid": FormId,
                "DOB": $(this).val(),
                "FieldName": "dob",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMyPhone", function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
                "Formid": FormId,
                "PhoneNumber": $(this).val(),
                "FieldName": "phonenumber",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMyEmail", function () {
        debugger
        ValidationField = $(this);
            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
                "Formid": FormId,
                "Email": $(this).val(),
                "FieldName": "email",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                    if (data.flag) {
                        // var Id = "#" + data.validation
                        $(ValidationField).closest('.topheader11').closest('.myform').find('#Validation7').html(data.validation)
                        SecondaryEmailFlag = true;
                        //setTimeout(
                        //    function () {
                        //        $('#BuisnessEmail').val("");
                        //    }, 3000);

                    }
                    else {
                        $(ValidationField).closest('.topheader11').closest('.myform').find('#Validation7').html("");
                        SecondaryEmailFlag = false;
                    }
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })
        if ($(ValidationField).val() == "") {
            $(ValidationField).closest('.topheader11').closest('.myform').find('#Validation7').html("");
            SecondaryEmailFlag = false;
        }


        })
    $(document).on('focusout', ".AUTHMyPib", function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
                "Formid": FormId,
                "PositionInBuisness": $(this).val(),
                "FieldName": "positioninbuisness",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMyPich", function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
                "Formid": FormId,
                "RoleIncharity": $(this).val(),
                "FieldName": "roleincharity",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })
    $(document).on('focusout', ".AUTHMyPic", function () {

            var FormId = $(this).closest('.topheader11').attr('id');
            if (FormId == undefined) {
                FormId = $(this).closest('.myform').attr('id');
            }
            var objFields = {
                "Formid": FormId,
                "PositionInComany": $(this).val(),
                "FieldName": "positionincompany",
                "DOB": $(this).closest('.myform').find('.AUTHMydate').val()
            };
            debugger
            $.ajax({
                url: '/Home/SaveRepresentativeFields',
                /*  contentType: 'application/json ; charset:ytf-8',*/
                type: 'POST',
                dataType: 'json',
                data: { objFields: objFields },
                async: false,
                success: function (data) {
                    //$('#myfield').html(data);
                },
                error: function (msg, xhr) {
                    alert("error")
                    console.log(msg);
                    console.log(xhr);
                }
            })


        })


    //var template = $('#sections .section:first').clone();
    //$('#sections').html("");
    //$(template).css("display", "block");
    //var sectionsCount = 0;
    ////add new section
    //$('body').on('click', '.addsection', function () {
    //    debugger
    //    sectionsCount++;
    //    var section = template.clone().find(':input').each(function () {
    //        var newId = this.id + sectionsCount;
    //        $(this).prev().attr('for', newId);
    //        this.id = newId;
    //        $("#addnewauth").show(300);
    //    }).end()

    //        .appendTo('#sections');
    //    return false;
    //});

    ////remove section
    //$('#sections').on('click', '.remove', function () {
    //    $(this).parent().fadeOut(300, function () {
    //        //$(this).parent().parent().empty();
    //        $(this).parent().remove();
    //        return false;
    //    });
    //    return false;
    //});


</script>